%li{class: "dropdown #{add_class}"}
  %a{class: 'dropdown-toggle', 'data-toggle': 'dropdown', href: '#'}
    = title
    %span{class: 'caret'}
  %ul{class: 'dropdown-menu dropdown-menu-right'}
    - items.each do |link, item|
      - if params[:action] == link.to_s
        %li{class: 'active pull-right'}
          %a{href: '#', class: 'anchor-nolink'} #{item}
      - else
        %li{class: 'pull-right'}
          %a{href: "/#{link}"} #{item}