
%h1 San Diego Attractions

%i Take advantage of your week in sunny San Diego and discover our local attractions! From beautiful beaches to a variety of museums and eclectic restaurants, "America's Finest City" offers many things to do and see.

%hr

%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/balboa.jpg')}", class: 'attraction'}
	%div{class: 'title'} Balboa Park
	%p 
		Balboa Park is the nation's largest urban cultural park. Home to 15 major museums, renowned performing arts venues, beautiful gardens and the San Diego Zoo, the Park has an ever-changing calendar of museum exhibitions, plays, musicals, concerts and classes - all in the beautiful and timeless setting of this must-see San Diego attraction. Find a full list of museums and attractions 
		%a{href: 'https://www.balboapark.org/'} here.

%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/beach.jpg')}", class: 'attraction'}
	%div{class: 'title'} Miles of Beaches
	%p 
		San Diego boasts 70 miles of beautiful coastline! For a more comprehensive list of beaches and their individual features, check out 
		%a{href: 'http://www.sandiego.org/'}www.sandiego.org. 
		(But below are a few of our favorites!)
	%ul
		%li 
			%b La Jolla Beaches
			%p Known as "The Jewel" of San Diego, La Jolla features beaches and reefs, which are freely available for visitors and locals alike.
		%li
			%b Coronado
			%p With gentle surf, sparkling white-sand beaches, charming main street, quaint shops, oceanfront dining and of course, the famous Hotel del Coronado, the small town of Coronado is the perfect island paradise.
		%li 
			%b Mission Beach
			%p A short walk across centrally located Mission Beach's main thoroughfare leads you to the calm waters of Mission Bay, home to SeaWorld San Diego - the largest aquatic park of its kind - surrounded by grassy parks, playgrounds, picnic tables and miles of paved sidewalks.

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/oldtown.jpg')}", class: 'attraction'}
	%div{class: 'title'} Old Town
	%p 
		The ‘Birthplace of California’, Old Town features many sites rich with San Diego’s history. Within walking distance are a variety of places to shop and dine. Find a variety of uncommon gifts in the numerous boutique shops, or take a tour of the Whaley House, the number one most haunted house in the United States, according to the Travel Channel’s ‘America’s Most Haunted!’ Discover more in Old Town 
		%a{href: 'http://www.oldtownsandiegoguide.com/'} here.

%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/zoo.jpg')}", class: 'attraction'}
	%div{class: 'title'} San Diego Zoo
	%p 
		The 100-acre Zoo is home to over 3,700 rare and endangered animals representing more than 650 species and subspecies, and a prominent botanical collection with more than 700,000 exotic plants. It is located just north of downtown San Diego in Balboa Park. You can find more information and tickets 
		%a{href: 'http://zoo.sandiegozoo.org/'} here.

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/seaport.jpg')}", class: 'attraction'}
	%div{class: 'title'} Seaport Village
	%p 
		Explore 50-plus diverse shops, 17 unique eateries and outdoor entertainment. Four miles of meandering cobblestone pathways bordered by ponds, lakes, fountains and colorful, lush landscaping make up this quarter mile boardwalk along San Diego Bay. Find a complete list of shops and restaurants 
		%a{href: 'http://www.seaportvillage.com/'} here.


%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/torrey.jpg')}", class: 'attraction'}
	%div{class: 'title multi'} 
		Torrey Pines 
		%div{class: 'small'} State Natural Reserve
	%p A coastal wilderness of pine forests and sandstone canyons, Torrey Pines State Natural Reserve has a series of well-kept trails that wind along the cliffs offering breathtaking views of the Pacific Ocean at every turn. With both easy paths and more advanced trails, the park provides a great hiking experience for all levels.

%div{class: 'row'}
%div{class: 'col-xs-12 col-md-6 attraction-block'}
	%img{src: "#{asset_path('attractions/stuartart.jpg')}", class: 'attraction'}
	%div{class: 'title multi'} 
		UC San Diego 
		%div{class: 'small'} Stuart Collection
	%p 
	Established in 1982, the Stuart Collection includes 19 public art pieces that are integrated into UC San Diego's campus. One of these pieces is Do Ho Suh's Fallen Star, the "little blue house" that sits on top of Jacobs Hall (home of the UC San Diego ECE Department.) Visitors to UC San Diego will often embark on a self-guided tour to find all 19 pieces of the Stuart Collection. Find more information and a printable map 
	%a{href: 'http://stuartcollection.ucsd.edu/'} here. 
	(Photo Credit: Erik Jepsen/UC San Diego Creative Services and Publications)

%div{class: 'row'}
%hr 
%p
	Please also check out
	%a{href: 'https://www.hyatt.com/en-US/hotel/california/hyatt-regency-la-jolla-at-aventine/jolla/area-attractions', target: '_hotelinfo'} 
		Hyatt Regency La Jolla
		%span{class: 'glyphicon glyphicon-new-window'}
	page for extensive list of local attractions.