
%h1 Author Information and Submission Instructions


%h3 Program-Specific Information

%p There are several elements to the ICME 2018 Technical Program. Submission instructions vary according to the program element. Please refer to the program-specific information applicable to you. General information pertaining to all program elements may be found after the program-specific information.

%h4 Regular and Special Sessions

%p Regular and Special Session papers form the core of the ICME technical program. 

%ul
  %li Submission deadline: To submit your abstract, go through the paper submission process without actually uploading the pdf of your paper. The abstract that you enter during the paper submission process should be about 100-150 words, and should be identical to the abstract that will be in the pdf of your paper. To submit your paper, return to the submission site and edit your previous submission to upload the pdf of your paper. Your paper submission may be edited at any time up until the paper submission deadline.
  %li Length: Papers must be no longer than 6 pages, including all text, figures, and references.
  %li Submission site: <TBD> All papers must indicate a Primary Subject Area to be appropriately reviewed. Papers invited to a Special Session must indicate the Special Session as the Primary Subject Area of the paper. The Special Sessions are open to all authors. All authors are invited to submit their papers to any of the Special Sessions by indicating the Special Session as the Primary Subject area of the paper.
  %li Review: Paper submissions are reviewed by experts selected by the conference committee for their demonstrated knowledge of particular topics. Regular and Special Session papers are reviewed identically, and are subject to ICME main conference acceptance rates (15% for Oral presentations and the next 15% for Poster presentations).
  Double blind rules: ICME 2018 reviewing is double blind, which means that authors cannot know the names of the reviewers of their papers, and reviewers cannot know the names of the authors. Information that may identify the authors anywhere in the submitted materials must be avoided. In particular, in the submitted pdf paper, the usual list of authors, their institutions, and their contact information must be replaced by the phrase, "Anonymous ICME Submission." Identifying information in the acknowledgments (e.g., co-workers and grant IDs), supplemental materials (e.g., titles in the videos, or attached papers), and links to the authors’ or their institutions’ websites must also be avoided. Please read Section 2 of the example paper below for further guidance on how to preserve anonymity. The only place that authors may be identified is in the online submission form. Submissions that do not conform to these double blind rules will be rejected immediately without review.
  %li Dual submissions: By submitting a manuscript to ICME, the authors guarantee that it has not been previously published (or accepted for publication) in substantially similar form. Furthermore, no paper that contains significant overlap with the contributions of this paper either has been or will be submitted during the ICME 2018 review period to either a journal or a conference.
  %li 
    Author's responsibilities: If there are papers that may appear to violate any of these conditions, then it is the authors' responsibility to 
    %ol
      %li Cite these papers (preserving anonymity as described in Section 2 of the example paper)
      %li Argue in the body of your paper why your ICME paper is nontrivially different from these concurrent submissions
      %li Include anonymized versions of those papers in the supplemental material.
  %li 
    Supplemental material: Authors may optionally upload supplemental material. Supplemental material must be anonymized. Typically, supplemental material might include:
    %ul
      %li a short presentation summarizing the paper,
      %li videos of results that cannot be included in the main paper,
      %li a screen recording of a demo program,
      %li anonymized related submissions to other conferences and journals, and
      %li appendices or technical reports containing extended proofs and mathematical derivations that are not essential for understanding the paper.
    * Note that the contents of the supplemental material should be referred to appropriately in the paper and that reviewers are not obliged to look at it. All supplemental material must be zipped into a single file. There is a 30 MB limit on the size of this file.
  %p Presentation guarantee: By submitting the paper, the authors guarantee that if the paper is accepted, it will be presented at the conference by one of the authors, except in case of emergency as determined by the Technical Co-Chairs. Furthermore, the presenter must register for the conference at one of the non-student rates offered, and must register before the deadline given for author registration. Failure to register before the deadline will result in automatic withdrawal of your paper from the conference proceedings and program. Failure to present the paper by an author in person will result in the paper not appearing in IEEE Xplore, and IEEE will retain the copyright. Also, the list of missing authors will be passed to the ICME Steering Committee.

%h4 Workshops

%p 
  If you would like to propose a Workshop, please see 
  %a{href: '/workshop'} Call for Workshops 
  for more information.

%p If you are submitting a paper to an approved Workshop, please see the appropriate Workshop site for more information. All Workshop papers will have the following commonalities:
%ul
  %li 
    Submission deadline:
    = DateHelper::get_deadline spec: :workshop_paper
  %li Length: Papers must be no longer than 6 pages, including all text, figures, and references.
  %li Format: Workshop papers have the same format as regular papers. (See the example paper under the General Information section below.) However, they need not be double blind.
  %li Review: Reviews will be handled directly by the Workshop organizers.
  %li Submission site: <TBD>. Papers must be submitted under the track for the appropriate Workshop. Submissions may be accompanied by up to 30 MB of supplemental material following the same guidelines as regular and special session papers.
  %li Presentation guarantee: As with accepted Regular and Special Session papers, accepted Workshop papers must be registered by the author deadline and presented at the conference; otherwise they will not be included in IEEE Xplore. 
  %li A workshop paper may be covered by a workshop-only registration or by a full-conference registration.


%h4 Industry/Application Short Papers

%p 
  If you are submitting an Industry/Application short paper, follow the instructions below. Further information about Industry/Application Short Papers can be found at 
  %a{href: '/industry_track_papers'} Call for Industry/Application Short Papers.

  %ul
    %li Submission deadline: March 19, 2018
    %li Length: Papers must be no longer than 4 pages, including all text, figures, and references.
    %li Review: Review will follow the same procedure as workshop papers, where novelty, presentation quality and experimental validation will be considered.
    %li 
      Submission site: Only electronic submissions will be accepted through the 
      %a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018W'} CMT 
      online system under the “Industry Track”. Submissions may be accompanied by up to 30 MB of supplemental material following the same guidelines as regular and special session papers.
    %li Presentation guarantee: As with accepted Regular and Special Session papers, accepted Industry/Application Short Papers must be registered by the author deadline and presented at the conference; otherwise they will not be included in IEEE Xplore.
 

%h4 Demo Track

%p 
  A Demo submission is a short (1-page) paper describing the demo. If the demo is accepted, this paper will be included in the USB Proceedings. Please see the 
  %a{href: '/expo'} Call for Demonstrations 
  for further information.

  %ul 
    %li 
      Submission deadline:
      = DateHelper::get_deadline spec: :demo_paper
    %li Length: Submissions must be no longer than 1 page.
    %li Format: Like a regular paper, a demo “paper” must include an abstract of approximately 100-150 words. The remainder of the paper should include the elements listed in the Call for Demonstrations, and may include figures. Submissions may be accompanied by up to 30 MB of supplemental material such as a video.
    %li Submission site: <TBD>. Papers must be submitted under “Demo Program”.
    %li Review: Submissions will be reviewed by the ICME 2018 Demo/Expo Co-Chairs.
    %li Presentation: Bring your demo to the conference.

%h4 Grand Challenges

%p 
  If you would like to propose a Grand Challenge, please see 
  %a{href: '/grand_challenge'} Call for Grand Challenges 
  for more information. 

%p 
  If you are submitting a contribution to an approved Grand Challenge, please see the appropriate Grand Challenge site for specific information. Most Grand Challenges will have the following commonalities:
  %ul 
    %li 
      Submission deadline:
      = DateHelper::get_deadline spec: :grand_challenge
    %li Format: Challenges may solicit a written component and/or a data component. For challenges that solicit a written component, the corresponding papers will generally be formatted like an Industry Track paper, with a 4-page limit. For challenges that solicit data for evaluation, the data format will be specified on the appropriate Grand Challenge site.
    %li 
      Submission: Submit the written component via 
      %a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018W', target: '_cmt'}CMT 
      under the appropriate Grand Challenge track. Submit the data component, if any, directly to the Grand Challenge organizers as specified on the appropriate Grand Challenge site.
    %li Review: Submissions of both written and data components will be reviewed directly by the Grand Challenge organizers. Accepted submissions (written component only) will be included in the USB Proceedings and the authors will be given the opportunity to present their work at ICME. “Winning” submissions will be announced by the Grand Challenge organizers at the conference. Accepted submissions may or may not be eligible for publication on IEEE Xplore depending on the Grand Challenge; details will be available later.

%h4 Student Track

%p 
  Your submission to the Student Track registers you for the Student Luncheon and optionally for the Three-Minute Thesis (3MT) competition. Submissions will be included in the USB Proceedings. Please see the 
  %a{href: 'student_participation'} Call for Student Participation 
  for further information.

  %ul 
    %li Submission deadline: <TBD>.
    %li 
      Format: A single PDF file containing
      %ul
        %li An abstract of your thesis (maximum 1 page) – optional, for 3MT Competition only
        %li Your CV (maximum 2 pages), which should include your contact details
        %li A letter from your Advisor confirming your student status
    %li Do NOT submit a video of your Three-Minute Thesis at this time. Instructions for presenting or submitting a video for the 3MT competition will be forthcoming.
    %li Submission site: <TBD>. Documents must be submitted under “Student Program”.


%h3 General Information
%h4 Formatting Requirements
%ul
  %li All submissions must be in English.
  %li All submissions must be in letter-sized PDF.
  %li All fonts and subsets must be embedded. Times New Roman font is strongly encouraged.
  %li All submissions, with the exception of Student Program submissions, must be formatted according to the instructions in the Example Paper.

%h4 Example Paper, Formatting Guidelines, and Templates

%p 
  The following links point to an example paper containing detailed formatting guidelines. They also constitute templates for Microsoft Word and LaTeX submissions.
  %ul
    %li
      %a{href: "#{asset_path('icme2018template.docx')}"} Example paper with detailed formatting instructions and Microsoft Word template
    %li
      %a{href: "#{asset_path('icme2018template.zip')}"} Example paper with detailed instructions and LaTeX template (zip file)


%p We recommend that you use the Word file or LaTeX files to produce your document, since they have been set up to meet the formatting guidelines detailed in the example paper. When using these files, double-check the paper size in your page setup to make sure you are using the letter-size paper layout (8.5 inch X 11 inch). The LaTeX environment files specify suitable margins, page layout, text, and a bibliography style.

%p In particular, with LaTeX, there are cases where the top-margin of the resulting Postscript or PDF file does not meet the specified parameters. In this case, you may need to add a \topmargin=0mm command just after the \begin{document} command in your .tex file. The spacing of the top margin is not critical, as the page contents will be adjusted on the proceedings. The critical dimensions are the actual width and height of the page content.

%h4 Electronic Paper Submission

%p
  When you have your document file ready, gather the following information before entering the submission system:
  %ul 
    %li Document file in PDF format.
    %li Supplemental material, if any, zipped into a single file, under 30 MB.
    %li Affiliation, email address, and mailing address for each author.
    %li Paper title.
    %li Text file containing paper abstract text, in ASCII text format (for copying and pasting into web page form), 100-150 words.

%p 
  %strong Important: 
  ALL authors must be entered in the online form, and must appear in the online form in the same order in which the authors appear on the PDF.

%h4 Step by Step Instructions to Submit Your Paper
%ol 
  %li Go to the paper submission web site: <TBD> for regular and special session papers and <TBD> for all other submissions.
  %li You'll see a dialog box. If you are new to the system, please choose "Sign up here" at the bottom of the dialog box.
  %li Follow the wizard to finish the registration. Upon finishing, you’ll have an account in the system.
  %li Log into the system using your registered account info (email address and password).
  %li The first time when you log on, you’ll be asked to enter your conflict of domains. Please add the conflict domains for you and all of your co-authors such as (mit.edu; microsoft.com).
  %li You will see the submission page. Please read the “Welcome Message from Chair” carefully.
  %li Fill out the submission form: “Title and Abstract,” “Authors,” “Subject Areas,” etc. The Abstract should be approximately 100-150 words, and be identical the abstract in the pdf paper. Authors must be listed completely, in the same order as they are listed in the pdf paper. For the Subject Areas, you must enter ONE primary subject area. You may also enter any number of secondary subject areas. Each special session is considered as a subject area. All special sessions are open to all authors. If you wish to submit your paper to a special session, you are asked to indicate the name of the special session you are submitting to as the PRIMARY subject area. If the special session organizers decide that a paper is not a good fit to the special session, the paper will be moved to the regular paper pool.
  %li Upload your paper in pdf format.
  %li For regular and special session papers, answer the additional questions regarding whether your paper is a student or industry paper and is double-blind. The purpose of the student and industry questions is to establish eligibility for best student and best industry paper awards. The purpose of the double-blind question is to remind you to follow the double-blind rule. Regular and special session papers that do not follow the double blind rules will be automatically rejected.
  %li Click on the “Submit” button.
  %li 
    Optionally, check the “Send confirmation to me” or the “Send confirmation to all authors” button, and click the “Send” button, to receive an email confirmation. Alternatively, re-log into the system and verify your submission files. Please note that by default the 
    %a{href: 'https://cmt3.research.microsoft.com/User/Login', target: '_cmt'}CMT 
    system does not send confirmation emails after paper submission.
  Optionally, upload supplementary materials (pdf or zip only, up to 30 MB), by returning to the Author Console or to Manage Submissions, and uploading the file.

%p Good luck!
