
%h1 Panels

%div{class: 'panel-group', id: 'accordion'}
	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-1'}
					Should Challenges on Public Datasets be the Primary Driver of Multimedia Research?
		%div{id: 'collapse-1', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Synopsis
				%p 
					With more and more data challenges such as ImageNet and ActivityNet organized in leading conferences and workshops, it becomes popular to evaluate the performance of algorithms in benchmark datasets. Such challenges are becoming increasingly popular on academic research. Should challenges and competitions on public datasets be the primary driver of multimedia research? Does high quality research necessarily correspond to high ranks in challenges, and vice versa? This panel will discuss the both the positive and negative influences of data challenges on academic research and research community. 
				%h4{class: 'specsess-heading'} Moderator
				= render 'chairs', target: :panel_a_moderator
				%h4{class: 'specsess-heading'} Panelists
				= render 'chairs', target: :panel_a_panelists

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-2'}
					Commercialization of Multimedia Technologies: Challenges and Opportunities
		%div{id: 'collapse-2', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Synopsis
				%p 
					Multimedia technology is undergoing a vigorous development and revolution, fueled by the success of deep learning algorithms. With rapid innovation in software and hardware to build deep learning models, however, organizations face the challenge to select the right tools that will enable them to leverage AI in enterprise applications. This drives the business need for a common process and open standard to simplify the operational deployment and integration of machine learning algorithms. This panel will invite several leading senior scientists in Multimedia and focus on discussing the topic received increasingly attention, i.e., the challenges and opportunities in the commercialization of multimedia Technologies. 
				%h4{class: 'specsess-heading'} Moderator
				= render 'chairs', target: :panel_b_moderator
				%h4{class: 'specsess-heading'} Panelists
				= render 'chairs', target: :panel_b_panelists

= render 'chairs', target: :panel