
%h1 Workshops

%div{class: 'panel-group', id: 'accordion'}
	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-1'}
					Hot Topics in 3D Multimedia
		%div{id: 'collapse-1', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Overview
				%p The 3D community continues to innovate and evolve, with greater focus on enabling augmented reality and virtual reality (AR/VR/MR) experiences. There have been amazing breakthroughs on the capture and acquisition in recent years, with the introduction of microlens camera arrays and the growing momentum behind large-scale multi-camera arrays, as well as 360-degree video and depth sensing devices. Display technology continues to advance as the emergence of head-mounted displays gain in popularity. The widespread increase in computational power has allowed an ever-increasing realism in 3D scene generation. Additionally, 3D audio has the potential to add to the immersive experience through surround sound and realistic sound field rendering.

				%p While appropriate venues for presenting research at advanced stages are plentiful, the 3D multimedia community needs an appropriate venue for receiving feedback during early or initial stages of the development of radical and potentially disruptive technologies. This is the void that Hot3D tries to fill.

				%h4{class: 'specsess-heading'} Scope & Format
				%p Papers in all areas of Multimedia 3D are solicited. Early stage or preliminary results from potentially disruptive technology is particularly encouraged. Full papers (up to 6 pages) will be published in the ICME 2018 proceedings. 

				%p Additionally, and most importantly, position papers are solicited for short presentation and discussion of preliminary work or ideas. Submit a proposal of up to 2 pages, with a decision expected 2 weeks after submission. 

				%p The 1-day workshop will be co-located with ICME, the flagship multimedia conference sponsored by four IEEE societies. The workshop will be a unique opportunity to interact with other researchers working on 3D Multimedia. With an environment designed to facilitate discussion and feedback in early stage research, as well as forge new collaboration, this is an event not to be missed.

				%h4{class: 'specsess-heading'} Website
				%a{href: 'http://www.hot3d.org'} http://www.hot3d.org

				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_htm

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-2'}
					Multimedia Analytics for Societal Trends
		%div{id: 'collapse-2', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Overview
				%p Automated analysis of multimedia content is indispensable for organizing, indexing and nav- igating through vast amount of data. Due to the proliferation of media sharing platforms and social networks, such as YouTube, Twitter and Facebook, the production and distribution of me dia content have gone through a paradigm shift. This has led to a rapid democratization of the field inviting content-makers from all spheres, and has also led to an unprecedented growth in consumption of multimedia content over both modern and traditional mediums. Along with the traditional multimedia areas such as indexing and summarization, the research in this area is now being driven by the need to improve and facilitate personal and social activities, insight generation, and interaction experience. Research effort has been directed towards developing computational tools and methodologies for systematic study of trends and biases in media, impact of media content in terms of commercial outcome and influence on users.

				%p Extracting and analyzing rich media analytics requires powerful, often multimodal, frameworks that can handle the huge variability involved in different forms of media data. The variability is due to the inherent nature of media data being ‘in-the-wild’, user-generated, and often challenging the traditional formats. In the technical front this results into problems with employing the off-the-shelf techniques from domains like computer vision or speech analysis. For example, the human face detector fails miserably to detect animated movie characters. Analyzing such challenging content calls for the design and training of novel algorithms that exploits specific properties and additional structures in the media data. In fact, for many successful vision and audio analysis tasks, media content has been found to be one of the most difficult benchmarks. This issue is further compounded by the absence of any large in-domain datasets with reliable annotations. Hence, this field often relies on employing and developing clever data mining techniques, and approaches from semi-supervised or transfer learning. While machine learning methods requiring little or no supervision can greatly benefit the field, a need for properly annotated databases for evaluation and benchmarking can not be denied. This gap, if addressed, will advance the field towards a more usable and practical future. 

				%p Also note that this research area can immensely benefit from skills from multiple disciplines including engineering and computer science, social sciences, psychology and even, film theory. Thus the main purpose of this workshop is to facilitate conversation between different groups of researchers across disciplines ,and to provide a platform for sharing research progress and challenges in the area of multimedia analysis for societal trends. We believe that the submitted manuscripts will help develop this new and important area of research, enable discussions on the potential of this area, the challenges involved, and the future that researchers envision.

				%h4{class: 'specsess-heading'} Call for Papers
				%p 
					The workshop will offer a timely dissemination of research updates to benefit the academic and industry researchers and professionals working in the fields ranging from multimedia computing, multimodal signal processing to social science. To this end, we solicit original research papers related (but not limited) to the topics listed below:
					%ul
						%li Media analytics and methodologies for all forms of media.(e.g. automated discovery of rich analytics related to gender, profession, ethnicity, personality, stereotypes, topics of discussion/conversation, and analysis of their interrelationships, dynamics and evolution over time.)
						%li Impact prediction and analysis (e.g. popularity, virality, memorability, commercial success and influence of media content on society)
						%li Methodologies and analytics for analyzing relatively less-studied media, such as, advertisements and animated movies.
						%li Affect and sentiment analysis from media (e.g. emotional appeal, persuasiveness, emotion perception and communication)
						%li Large-scale data collection, benchmarking and challenges.
						%li Evaluation protocols and metrics for methods analyzing societal trends.

				%h4{class: 'specsess-heading'} Submission Instructions
				%p Papers will be evaluated based on their novelty, presentation, contributions and relevance to the workshop topic. The papers must be written in English and describe original unpublished work. Extensions on previously published work must show significant additional work in order to be considered for publication. Reviewers will make an initial determination on the suitability and scope of all submissions.

				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_mast

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-3'}
					Multimedia Services and Technologies for Smart-Health
		%div{id: 'collapse-3', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_msts

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-4'}
					Mobile Multimedia Computing
		%div{id: 'collapse-4', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_mmc

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-5'}
					Machine Learning and Artificial Intelligence for Multimedia Creation
		%div{id: 'collapse-5', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Overview
				%p This workshop focuses on the emerging field of multimedia creation using machine learning (ML) and artificial intelligence (AI) approaches. It aims to bring together researchers from ML and AI and practitioners from multimedia industry to foster multimedia creation. Multimedia creation, including style transfer and image synthesis, have been a major focus of machine learning and AI societies, owing to the recent technological breakthroughs such as generative adversarial networks (GANs). This workshop seeks to reinforce the implications to multimedia creation. It publishes papers on all emerging areas of content understanding and multimedia creation, all traditional areas of computer vision and data mining, and selected areas of artificial intelligence, with a particular emphasis on machine learning for pattern recognition. The applied fields such as art content creation, medical image and signal analysis, massive video/image sequence analysis, facial emotion analysis, control system for automation, content-based retrieval of video and image, and object recognition are also covered. The workshop is expected to provide an interactive platform to researchers, scientists, professors, and students to exchange their innovative ideas and experiences in the areas of Multimedia, and to specialize in the field of multimedia from underlying cutting-edge technologies to applications.
				

				%h4{class: 'specsess-heading'} Topics
				%p 
					%ul
						%li Generative models for multimedia creation
						%li AI for multimedia creation
						%li Data mining techniques for multimedia creation
						%li Synthesis and prediction of multimedia
						%li Deep learning application in video and image analysis
						%li Multi-modal data analysis
						%li Medical image and signal analysis
						%li Content of video and image extraction, analysis and application
						%li Online and distributed computing for multimedia creation
						%li Wireless technology and demonstrations for multimedia creation
						%li Security, privacy and policy regulation for multimedia creation
						%li Machine learning on social, emotional and affective multimedia
						%li Augmented reality
						%li Multimedia applied on control system for automation
						%li Human-computer interaction
						%li Signal processing including audio, video, image processing, and coding
						%li Smart multimedia surveillance

				%h4{class: 'specsess-heading'} Paper Submission Instructions
				%p 
					Please submit a full-length paper (up to 6 pages IEEE 2-column format) through the online submission system 
					%a{href: 'https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FICME2018'} here

				%p
					The templates for Microsoft Word and LaTeX submissions are available as below.
					%ul
						%li 
							8.5" x 11" Word template downloadable from 
							%a{href: "#{asset_path('icme2018template.docx')}"} here
						%li 
							LaTeX formatting macros downloadable from 
							%a{href: "#{asset_path('icme2018template.zip')}"} here


				%p 
					For more details, please refer to the submission instruction of ICME 2018 
					%a{href: "/author_info"} here.

				%h4{class: 'specsess-heading'} Website
				%a{href: 'https://hellomlai2017.github.io/'} https://hellomlai2017.github.io/
				
				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_mlaim

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-6'}
					Privacy Issues in Multimedia
		%div{id: 'collapse-6', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Overview
				%p The past decade has seen a tremendous growth in multimedia systems and applications in various areas ranging from surveillance to social media. While these systems and applications have been instrumental in improving the way of life for the end users; in the process the people's privacy might be put at risk. In particular, in most social networking websites, users upload their information without any guarantees on privacy. Although there has been a significant progress in multimedia research, the issues related to privacy related to the use of multimedia systems and applications have only recently begun to attract the attention of researchers.

				%p 
					This is the second edition of this workshop (after the first successful PIM’16 in Seattle) and it aims to bring forward recent advances related to privacy protection in various multimedia systems and applications. We seek unpublished high quality papers that address the privacy issues in different multimedia applications including, but not limited to, surveillance, e-chronicles, e-health, mobile media, and social networking from the following perspectives:
					%ul
						%li Privacy considerations in acquisition and transmission of multimedia data.
						%li Privacy issues in fusion, analysis, presentation, and publication of multimedia data.
						%li Privacy in multimedia databases: storage, access, indexing and retrieval.
						%li Theory and models: assessment of security and privacy and utility, privacy leakage and covert channels.
						%li Synergy between privacy preserving technologies and ethical and legal issues.
						%li Privacy aware cloud-based multimedia storage and processing.
						%li System architectural choices for privacy preservation.
						
				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_pim																	

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-7'}
					Emerging Multimedia Systems and Applications
		%div{id: 'collapse-7', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Workshop Chair
				= render 'chairs', target: :workshop_emsa					

	%div{class: 'panel panel-primary'}
		%div{class: 'panel-heading'}
			%h4{class: 'panel-title'}
				%a{'data-toggle': 'collapse', 'data-parent': '#accordion', href: '#collapse-8'}
					Faces in Multimedia
		%div{id: 'collapse-8', class: 'panel-collapse collapse'}
			%div{class: 'panel-body'}
				%h4{class: 'specsess-heading'} Overview
				%p We have witnessed remarkable advances in facial recognition technologies over the past a few years due to the rapid development of deep learning and large-scale, labeled facial image collections. As progress continues to push renown facial recognition databases nearly to saturation. There is a need for evermore challenging image and video collections, to solve emerging problems in the fields of faces and multimedia.

				%p In parallel to conventional face recognition, research is done to automatically understand social media content. To gain such an understand, the following capabilities must be satisfied: face tracking (e.g., facial expression analysis, face detection), face characterization (e.g., behavioral understanding, emotion recognition), facial characteristic analysis (e.g., gait, age, gender and ethnicity recognition), group understanding via social cues (e.g., kinship, non-blood relationships, personality), and visual sentiment analysis (e.g., temperament, arrangement). The ability to create effective models for visual certainty has significant value in both the scientific communities and the commercial market, with applications that span topics of human-computer interaction, social media analytics, video indexing, visual surveillance, and Internet vision.

				%p This workshop serves a forum for researchers to review the recent progress of recognition, analysis and modeling of faces in multimedia. Special interests will be given to visual kin and non-kin social relations. The workshop will include up to two keynotes, along with peer-reviewed papers (oral and poster). Original high-quality contributions are solicited on the topics listed in the section below.

				%h4 Topics
				%ul
					%li Soft biometrics and profiling of faces: age, gender, ethnicity, personality, kinship, occupation, and beauty ranking;
					%li Deep learning practice for social face problems with ambiguity including kinship
					verification, family recognition and retrieval;
					%li Understanding of the familial features from vast amount of social media data;
					%li Discovery of the social groups from faces and the context;
					%li Mining social face relations through metadata as well as visual information;
					%li Tracking and extraction and analysis of face models captured by mobile devices;
					%li Face recognition in low-quality or low-resolution video or images;
					%li Novel mathematical models and algorithms, sensors and modalities for face &amp;
					body gesture and action representation;
					%li Analysis and recognition for cross-domain social media;
					%li Novel social applications involving detection, tracking &amp; recognition of faces;
					%li Face analysis for sentiment analysis in social media;
					%li Other applications involving face analysis in social media content.

				%h4{class: 'specsess-heading'} Honorary General Chair
				= render 'chairs', target: :workshop_fim_hgc

				%h4{class: 'specsess-heading'} General Chair
				= render 'chairs', target: :workshop_fim_gc

				%h4{class: 'specsess-heading'} Program Chairs
				= render 'chairs', target: :workshop_fim_pc


= render 'deadline', target: [:workshop_paper, :camera_workshop]