!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title ICME 2018 - IEEE International Conference on Multimedia and Expo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato"
  %body
    %nav{class: 'navbar navbar-default navbar-fixed-top'}
      %div{class: 'container-fluid'}
        %div{class: 'navbar-header'}
          %button{type: 'button', class: 'navbar-toggle collapsed', 'data-toggle' => 'collapse', 'data-target' => '#sitenav'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
          %a{class: 'navbar-brand', href: '/'} ICME 2018
        %div{class: 'collapse navbar-collapse pull-right', id: 'sitenav'}
          %ul{class: 'nav navbar-nav'}
            = render 'general'
            = render 'calls'

    %div{class: 'container-fluid', id: 'main-content'}
      = yield
    %div{class: 'footer'}
      ICME 2018
      %br
      %br
      =image_tag "IEEE.png", class: 'sponsor-logo'
      =image_tag "IEEE_CS.png", class: 'sponsor-logo'
      =image_tag "CAS.png", class: 'sponsor-logo'
      =image_tag "ComSoc.png", class: 'sponsor-logo'
      =image_tag "IEEE_SPS.png", class: 'sponsor-logo'
